html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
border:0;
font:inherit;
font-size:100%;
margin:0;
padding:0;
vertical-align:baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
display:block;
}

html, body {font-family: 'Muli', arial; font-size: 16px; color: #E8EBF7; height: 100%}

.clear {clear: both;}

p {
	font-size: 1em;
	line-height: 1.3em;
	margin-bottom: 10px;
	margin-top: 20px;
	color: #00A7E1;
}

#Header {
	width: 90%;
	max-width: 900px;
	background: #E8EBF7;
	margin: 30px auto;
}

.mainHeader {
	padding: 20px 20px;
	background: #1C77C3;
	float: auto;
}

.mainHeader img{
	display:block;
	margin-left: auto;
	margin-right: auto;
}

#mainArea {
	padding: 0 40px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

section {
	border-top: 3px solid black;
	padding: 20px 0 0 20px;
}

section:first-child {
	border-top: 0;
}

section:last-child {
	padding: 20px 0 10px;
}

.sectionHeading {
	padding: 20px 0 20px;
	color: #149911;
	font-family: font-family: 'Roboto Mono', Arial;
	font-style: italic;
	font-size: 2.5em;
	text-align: center;
}

.sectionHeading h1 {
	font-family: font-family: 'Roboto Mono', Arial;
	font-style: italic;
	font-size: 2em;
	text-align: center;
	color: green;}

.sectionTitle {
	float: left;
	width: 25%;
}

.sectionTitle h1 {
	font-family: font-family: 'Roboto Mono', Arial;
	font-style: italic;
	font-size: 1.5em;
	color: #149911;
	margin: 0 0 5px;
}

.sectionTitle ul{
	list-style-type: none;
	font-size: 0.8em;
	margin-top: 2px;
}

.sectionTitle ul li {
	margin-bottom: 3px;
	color: #00A7E1;
}

.sectionTitle img {
	width: 90%;
	height: auto;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	padding: 5px 5px;
}

.sectionContent h2 {
	font-family: font-family: 'Roboto Mono', Arial;
	font-size: 1.5em;
	margin-bottom: 6px;
}

.sectionContent h3 {
	font-family: font-family: 'Roboto Mono', Arial;
	font-style: italic;
	font-size: 1.1em;
	margin-bottom: -2px;
}

.sectionContent {
	float: right;
	width: 72.5%;
	margin: 0 0 20px;
}

.interests{
	list-style-type: circle;
	font-size: 1em;
	color: #00A7E1;
	margin-left: 50px
}
